.credit {
    background: #fff;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    color: #333;
}

.credit a {
    color: #333;
    text-decoration: none;
}

.credit a:hover {
    color: #1DBF73;
}

.credit a i {
    position: fixed;
    display: none;
    margin-left: 5px;
    margin-top: 2px;
}

.credit a:hover i {
    display: inline-block;
}

h1,
h2,
h3,
h4,
p {
    padding: 14px;
    color: #333;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

.set-overlayer,
.set-glass,
.set-sticky {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #333;
    font-size: 16px;
}

.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
    font-family: FontAwesome;
    font-size: 18pt;
    position: relative;
    float: right;
    background-color: red;
}

.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
    content: "\f204";
    transition: .6s;
}

.to-active:after {
    content: "\f205";
    color: #008080;
    transition: .6s;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
    margin: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
}

/* Syntax Highlighter*/

pre.prettyprint {
    padding: 15px !important;
    margin: 10px;
    border: 0 !important;
    background: #f2f2f2;
    overflow: auto;
}

.source {
    white-space: pre;
    overflow: auto;
    max-height: 400px;
}

code {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}