@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-image: url("../img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

form {
    position: relative;
    text-align: center;
    padding: 74px 24px;
    max-width: 820px;
    margin: 40px auto;
    background: #ffffff;
    z-index: 1;
}

.title {
    text-align: center;
    padding-bottom: 55px;
}

.title h2 {
    font: 500 24px/35px "Roboto", sans-serif;
    color: #3f4553;
    padding-bottom: 5px;
}

.title p {
    font: 400 16px/28px "Roboto", sans-serif;
    color: #5f6771;
}

fieldset {
    border: 0;
    padding: 20px 105px 0;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
}

fieldset:not(:first-of-type) {
    display: none;
}

fieldset h3 {
    font: 500 18px/35px "Roboto", sans-serif;
    color: #3f4553;
}

fieldset h6 {
    font: 400 15px/28px "Roboto", sans-serif;
    color: #5f6771;
    padding-bottom: 10px;
}

fieldset .intl-tel-input {
    display: block;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
}

fieldset .intl-tel-input .flag-container .selected-flag {
    padding: 0 20px;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    width: 65px;
}

fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
    border: 0;
}

fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow:after {
    content: "\f35f";
    position: absolute;
    top: 0;
    right: 0;
    font: normal normal normal 24px/7px Ionicons;
    color: #5f6771;
}

fieldset .mform-group {
    padding: 5px;
}

fieldset .abc {
    padding-top: 10px;
}

fieldset .fg_2,
fieldset .fg_3 {
    display: block;
    overflow: hidden;
}

fieldset .fg_3 {
    padding-bottom: 70px;
}

fieldset .form-control,
fieldset .product_select {
    border-radius: 3px;
    border: 1px solid #d8e1e7;
    padding: 0 20px;
    height: auto;
    font: 400 15px/48px "Roboto", sans-serif;
    color: #5f6771;
    box-shadow: none;
    outline: none;
    width: 100%;
}

fieldset .form-control.placeholder,
fieldset .product_select.placeholder {
    color: #5f6771;
}

fieldset .form-control:-moz-placeholder,
fieldset .product_select:-moz-placeholder {
    color: #5f6771;
}

fieldset .form-control::-moz-placeholder,
fieldset .product_select::-moz-placeholder {
    color: #5f6771;
}

fieldset .form-control::-webkit-input-placeholder,
fieldset .product_select::-webkit-input-placeholder {
    color: #5f6771;
}

fieldset .form-control:hover,
fieldset .form-control:focus,
fieldset .product_select:hover,
fieldset .product_select:focus {
    border-color: #5cb85c;
}

fieldset .form-control:focus.placeholder,
fieldset .product_select:focus.placeholder {
    color: transparent;
}

fieldset .form-control:focus:-moz-placeholder,
fieldset .product_select:focus:-moz-placeholder {
    color: transparent;
}

fieldset .form-control:focus::-moz-placeholder,
fieldset .product_select:focus::-moz-placeholder {
    color: transparent;
}

fieldset .form-control:focus::-webkit-input-placeholder,
fieldset .product_select:focus::-webkit-input-placeholder {
    color: transparent;
}

fieldset .product_select:after {
    display: none;
}

fieldset .product_select:before {
    content: "\f35f";
    position: absolute;
    top: 0;
    right: 20px;
    font: normal normal normal 24px/48px Ionicons;
    color: #5f6771;
}

fieldset .product_select .list {
    width: 100%;
}

fieldset .done_text {
    padding-top: 40px;
}

fieldset .done_text .don_icon {
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 22px;
    margin-bottom: 10px;
    background: #5cb85c;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

fieldset .done_text h6 {
    line-height: 23px;
}

fieldset .code_group {
    margin-bottom: 60px;
}

fieldset .code_group .form-control {
    border: 0;
    border-bottom: 1px solid #a1a7ac;
    border-radius: 0;
    display: inline-block;
    width: 30px;
    font-size: 30px;
    color: #5f6771;
    padding: 0;
    margin-right: 7px;
    text-align: center;
    line-height: 1;
}

fieldset .passport {
    margin-top: -10px;
    padding-bottom: 30px;
    position: relative;
}

fieldset .passport .don_icon {
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 22px;
    position: absolute;
    top: 4px;
    right: 0;
    background: #5cb85c;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

fieldset .passport h4 {
    font: 500 15px/23px "Roboto", sans-serif;
    color: #5f6771;
    padding: 0;
}

fieldset .input-group {
    padding-bottom: 40px;
}

fieldset .input-group .custom-file {
    width: 100%;
    height: auto;
}

fieldset .input-group .custom-file .custom-file-label {
    width: 168px;
    border-radius: 5px;
    cursor: pointer;
    font: 700 14px/40px "Roboto", sans-serif;
    border: 1px solid #99a2a8;
    text-align: center;
    transition: all 300ms linear 0s;
    color: #5f6771;
}

fieldset .input-group .custom-file .custom-file-label i {
    font-size: 20px;
    padding-right: 10px;
}

fieldset .input-group .custom-file .custom-file-label:hover,
fieldset .input-group .custom-file .custom-file-label:focus {
    background: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}

fieldset .input-group .custom-file input {
    display: none;
}

fieldset .file_added {
    text-align: left;
    padding-left: 190px;
    padding-bottom: 60px;
}

fieldset .file_added li {
    font: 400 15px/28px "Roboto", sans-serif;
    color: #5f6771;
}

fieldset .file_added li a {
    color: #5cb85c;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 15px;
}

fieldset .file_added li a i {
    font-size: 22px;
    padding-right: 8px;
    position: absolute;
    left: 0;
    transform: rotate(20deg);
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
}

#progressbar li {
    list-style-type: none;
    color: #99a2a8;
    font-size: 9px;
    width: calc(100%/5);
    float: left;
    position: relative;
    font: 500 13px/1 "Roboto", sans-serif;
}

#progressbar li:nth-child(2):before {
    content: "\f12f";
}

#progressbar li:nth-child(3):before {
    content: "\f457";
}

#progressbar li:before {
    content: "\f1fa";
    font: normal normal normal 30px/50px Ionicons;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #eaf0f4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 10px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
}

#progressbar li:last-child:after {
    width: 150%;
}

#progressbar li.active {
    color: #5cb85c;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #5cb85c;
    color: white;
}

.action-button {
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    border-width: 0;
    border-radius: 5px;
    min-width: 130px;
    margin-top: 20px;
    font: 700 14px/40px "Roboto", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.action-button:hover,
.action-button:focus {
    background-color: #405867;
    color: white;
}